USE [ESTUDIOSCOMERCIALES]
GO
/****** Object:  StoredProcedure [dbo].[SP_Aporte_UNO]    Script Date: 03-06-2026 15:25:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[SP_Aporte_UNO]
AS
declare @Fecha date
declare @periodo varchar (6)
set @Fecha = isnull((select MAX(fecha) from sql.Reporte_aporte_uno_Recaudado),0)
set @periodo =   isnull(left(replace(cast(@Fecha as varchar),'-',''),6)-1,0)

IF OBJECT_ID('tempdb..#Aporte_uno') IS NULL BEGIN print '' END ELSE BEGIN drop table #Aporte_uno END
IF OBJECT_ID('tempdb..#SegmentoP') IS NULL BEGIN print '' END ELSE BEGIN drop table #SegmentoP END
IF OBJECT_ID('tempdb..#MARCA') IS NULL BEGIN print '' END ELSE BEGIN drop table #MARCA END
IF OBJECT_ID('tempdb..#Inicio') IS NULL BEGIN print '' END ELSE BEGIN drop table #Inicio END


--select DATEADD(mm,+1,DATEADD(mm,DATEDIFF(mm,0,cast(cast(periodo as varchar)++'01' as date)),0)) as FECHA,RUT_AFILIADO,APEPAT_AFILIADO,cast(replace(APORTE,'.','') as bigint) APORTE,cast(replace(renta,'.','') as bigint) RENTA,RUT_EMPRESA 
select cast(cast(periodo as varchar)++'01' as date) as FECHA,RUT_AFILIADO,APEPAT_AFILIADO,cast(replace(APORTE,'.','') as bigint) APORTE,cast(replace(renta,'.','') as bigint) RENTA,RUT_EMPRESA 
into #Aporte_uno
from [LH-SAPCLIENTES].[SAPCRMPRODUCCION].dbo.ZAPOT_ANEXOT_P
where TIP_AFILIADO='P' and PERIODO > @periodo AND PERIODO > 201711
order by periodo desc

PRINT 'Ejecuto 1';
SELECT 
	ROW_NUMBER() OVER( PARTITION BY Rut ORDER BY Fecha desc ) AS RN , rut, FECHA, SEGMENTO
	INTO #SegmentoP
	FROM sql.BaseSegmentoP
	
delete from #SegmentoP where RN>1

PRINT '[dbo].[SP_Aporte_UNO] Ejecuto 2';

alter table #Aporte_uno add SEGMENTO varchar(50)

if (select COUNT(*) from #Aporte_uno) > 1 begin
update a
set a.segmento = b.segmento
from #Aporte_uno a
join #SegmentoP b on cast(LEFT(a.RUT_AFILIADO, LEN(a.RUT_AFILIADO) -2) as bigint) = cast(b.rut as bigint)

select cast([PARTNER1] as bigint) as [PARTNER1] 
into #MARCA
from [LH-SAPCLIENTES].[SAPCRMPRODUCCION].[dbo].[BUT050]
where CRUSR ='GMISTRAL' and RELTYP = 'ZBUR99'

alter table #Aporte_uno add MARCA_MIGRACION nvarchar(240)

update a
set a.MARCA_MIGRACION = 'MIGRADO GM'
from #Aporte_uno a
where cast(LEFT(a.RUT_AFILIADO, LEN(a.RUT_AFILIADO) -2) as bigint) in (select distinct [PARTNER1] from #Marca)
and a.fecha >='2018-11-01'

update #Aporte_uno
set segmento = '6. Sin Clasificación'
where segmento is null


PRINT '[dbo].[SP_Aporte_UNO] Ejecuto 3';

update #Aporte_uno
set RENTA = APORTE * 100
where renta = 0

delete from sql.Base_aporte_uno_Recaudado
where fecha in (select distinct fecha from #aporte_uno)

insert into sql.Base_aporte_uno_Recaudado
select * 
from #aporte_uno

delete from sql.Reporte_aporte_uno_Recaudado
where fecha in (select distinct fecha from #aporte_uno)

insert into sql.Reporte_aporte_uno_Recaudado
select FECHA,RUT_EMPRESA,SEGMENTO,MARCA_MIGRACION,count(RUT_AFILIADO) as CANTIDAD, SUM(cast(APORTE as bigint)) as APORTE,sum(cast(RENTA as bigint)) as RENTA_TOTAL, AVG(cast(RENTA as bigint)) as RENTA_PROMEDIO
from #aporte_uno
group by FECHA,RUT_EMPRESA,SEGMENTO,MARCA_MIGRACION
order by FECHA,RUT_EMPRESA,SEGMENTO,MARCA_MIGRACION
end

PRINT '[dbo].[SP_Aporte_UNO] Ejecuto 3.5';

set @Fecha =  DATEADD(s,0,DATEADD(mm, DATEDIFF(m,0,GETDATE())-1,0))

PRINT '[dbo].[SP_Aporte_UNO] Ejecuto 4';

select @Fecha As Fecha, Cast(PARTNER as bigint) as Partner,MARCA_MIGRACION, b.segmento
into #Inicio
from [LH-SAPCLIENTES].[SAPCRMPRODUCCION].[dbo].[NUEVO_MODELO_PENSIONADO]
left join #SegmentoP b on Cast(PARTNER as bigint) = cast(b.rut as bigint)
where cast(VALID_FROM as DATE) <= @fecha and cast(VALID_TO as DATE) > @fecha

PRINT '[dbo].[SP_Aporte_UNO] Ejecuto 5';

insert into #Inicio
select @Fecha As Fecha, Cast(PARTNER as bigint) as Partner,MARCA_MIGRACION, b.segmento
from [LH-SAPCLIENTES].[SAPCRMPRODUCCION].[dbo].[NUEVO_MODELO_PENSIONADO_DESAFILIADOS]
left join #SegmentoP b on Cast(PARTNER as bigint) = cast(b.rut as bigint)
--where cast(VALID_FROM as DATE) <= @fecha and cast(VALID_TO as DATE) > @fecha
where VALID_FROM  <= convert(varchar,@fecha, 112) and VALID_TO > convert(varchar,@fecha, 112)

 	alter table #Inicio alter column Segmento varchar(20)
 	update #Inicio
		set Segmento = '6. Sin Clasificación'
		where Segmento is null or LEN(Segmento) < 2

delete from SQL.Inician_beneficios where fecha = @Fecha

PRINT '[dbo].[SP_Aporte_UNO] Ejecuto 6';

insert into SQL.Inician_beneficios
select @fecha as Fecha,MARCA_MIGRACION,segmento, COUNT(partner) as cantidad
from #Inicio
group by Fecha,MARCA_MIGRACION,segmento
order by Fecha,MARCA_MIGRACION,segmento

--select @fecha
