USE [ESTUDIOSCOMERCIALES]
GO
/****** Object:  StoredProcedure [dbo].[Etl_Actualiza_1por]    Script Date: 03-06-2026 15:24:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Mibarra>
-- Create date: <22-01-2026>
-- Description:	<Integración procedure para actualización de data cargada 1%>
-- =============================================

ALTER PROCEDURE [dbo].[Etl_Actualiza_1por]
	

AS
BEGIN


declare @doceMeses date = (	select format(DATEADD(month, -12, GETDATE()),'yyyy-MM-01'))
		
			update sql.Reporte_aporte_uno
			set RENTA_TOTAL=APORTE*100
			where OBS='UTILIDAD' and RENTA_TOTAL=0 and SEGMENTO='0. FFAA'
			and fecha >= @doceMeses

							
	---Ejecuta sp---
	---
	exec SP_Aporte_UNO
	---

END
