USE [ESTUDIOSCOMERCIALES]
GO
/****** Object:  StoredProcedure [dbo].[Etl_Actualiza_1por_tem]    Script Date: 03-06-2026 15:25:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Mibarra>
-- Create date: <22-01-2026>
-- Description:	<Integración procedure para actualización de data cargada 1%>
-- =============================================

ALTER PROCEDURE [dbo].[Etl_Actualiza_1por_tem]
	

AS
BEGIN
 


  declare @doceMeses date = (	select format(DATEADD(month, -12, GETDATE()),'yyyy-MM-01'))


		SELECT 
		ROW_NUMBER() OVER( PARTITION BY Rut ORDER BY Fecha desc ) AS RN , rut, FECHA, SEGMENTO
		INTO #SegmentoP
		FROM sql.BaseSegmentoP
		where fecha >= @doceMeses
		
	
		delete from #SegmentoP where RN>1

			update a
			set a.segmento = b.segmento
			from sql.Aporte_Temp a
			join #SegmentoP b on cast(LEFT(a.RUT_AFILIADO, LEN(a.RUT_AFILIADO) -2) as bigint) = cast(b.rut as bigint)
			where len(a.RUT_AFILIADO) >3

			update a
			set a.MARCA_MIGRACION = 'MIGRADO GM'
			from sql.Aporte_Temp a
			where cast(LEFT(a.RUT_AFILIADO, LEN(a.RUT_AFILIADO) -2) as bigint) in (select distinct cast([PARTNER1] as bigint) from sql.Marca)
			and a.fecha >= @doceMeses and len(RUT_AFILIADO) > 3

			update sql.Aporte_Temp
			set segmento = 'Otros'
			where segmento is null and len(RUT_AFILIADO) < 4


			update sql.Aporte_Temp
			set segmento = '6. Sin Clasificación'
			where segmento is null

	------------------------------
	-- BORRA PERIODO A CARGAR
	------------------------------

	delete from sql.Reporte_aporte_uno where fecha in (select distinct fecha from sql.Aporte_Temp)
	
	delete from sql.base_aporte_uno_Contable where fecha in (select distinct(Fecha) from sql.Aporte_Temp)
	delete from sql.base_aporte_uno_Contable where fecha in (select distinct(Fecha) from sql.Aporte_Temp)

	------------------------------
	-- CARGA REPORTE APORTE UNO
	------------------------------

	insert into sql.Reporte_aporte_uno ([FECHA],[RUT_EMPRESA],[SEGMENTO],[MARCA_MIGRACION],[OBS],[CANTIDAD],[APORTE],[RENTA_TOTAL],[RENTA_PROMEDIO])
	select FECHA,RUT_ENTIDAD as RUT_EMPRESA,SEGMENTO,MARCA_MIGRACION,OBS,count(RUT_AFILIADO) as CANTIDAD, SUM(cast(APORTE as bigint)) as APORTE,sum(cast(RENTA as bigint)) as RENTA_TOTAL, AVG(cast(RENTA as bigint)) as RENTA_PROMEDIO
	from sql.Aporte_Temp
	group by FECHA,RUT_ENTIDAD,SEGMENTO,MARCA_MIGRACION,OBS
	order by FECHA,RUT_ENTIDAD,SEGMENTO,MARCA_MIGRACION,OBS


	insert INTO sql.Base_aporte_uno
	SELECT * from  sql.Aporte_Temp
	
	--------------------------------
	---- ACTUALIZA APORTE UNO
	--------------------------------

	--exec [dbo].[Etl_Actualiza_1por]



END
